@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Edu+VIC+WA+NT+Beginner:wght@400;500&family=Exo:wght@300;400;500&family=Lobster&family=Ms+Madi&family=Oswald:wght@500&family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap");

body {
  background-color: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  border: 2px solid brown;
  background-color: brown;
  color: blanchedalmond;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px 0px 20px 0px;
}

.button__app {
  margin-top: 30px;
  padding: 15px 45px 15px 45px;
  background-color: burlywood;
  color: brown;
  border: 2px solid burlywood;
  font-family: 'Roboto', sans-serif;
  font-weight:bolder;
  margin-bottom: 30px;
}
